<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>딥크루 - 홈</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div class="container">
        <h1 class="title">딥크루 주식회사</h1>
        <div class="button-container">
            <button class="btn customer-btn" onclick="location.href='/recording'">고객</button>
            <button class="btn manager-btn" onclick="location.href='/manager-login'">매니저</button>
        </div>
    </div>
</body>
</html>